.nav_container{
    position: absolute;
    top:0;
    z-index: 50;
    background:rgba(1,1,1,0.5);
    width:100%;
    .nav {
        &.open {
        display: block;
        }
        &.close {
        display: none;
        }
        width: 300px;
        background: green;
        height: 100vh;
    }
}